<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Educational Qualifications</title>
</head>
<body>
  <div class="modal-container">
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    <div class="modal-dialog">
      <h4 class="text">Educational Qualifications</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <br>
            <div class="box-body form-group margin-top-1-present margin-left-1-present padding-none margin-right-1-present">
              <div class="col-md-12 padding-left-none padding-bottom-none padding-right-none">
                <div class="card card-body padding-left-3-present padding-right-none padding-top-none margin-bottom-1-present">
                  <ul>
                    <b>
                      <li>
                        <span>2023 - BSc (Hons) in IT - University of Sri Jayewardenepura</span>
                      </li>
                      <li>
                        <span>Web Programming course in Harvard University</span>
                      </li>
                      <li>
                        <span>Certificate course in Java Institute</span>
                      </li>
                      <li>
                        <span>Certificate course in Introduction to Entrepreneurship</span>
                      </li>
                      <li>
                        <span>2017 - Passed G.C.E. Advanced Level Examination</span>
                      </li>
                      <li>
                        <span>2013 - Passed G.C.E. Ordinary Level Examination</span>
                      </li>
                    </b>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
